{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-5" style="display: flex; justify-content: center;">
    <div class="col" style="max-width: 500px;">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Haneesh Reddy</h3>
                <p class="lead" style="font-weight: 350;">Highly motivated and results-oriented final year Bachelor of Engineering student with strong analytical, problem-solving, and communication skills. Possess a solid foundation in DSA and a keen interest in applying theoretical knowledge to real-world challenges.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:haneeshbyreddy@gmail.com'><img src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                haneeshbyreddy@gmail.com<br><br>
                <a target="_blank" href='https://github.com/haneeshbyreddy'><img src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                haneeshbyreddy<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/haneeshbyreddy'><img src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                haneeshbyreddy<br>
            </div>
        </div>
    </div>
    <div class="col" style="max-width: 500px;">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Haneesh Reddy</h3>
                <p class="lead" style="font-weight: 350;">Highly motivated and results-oriented final year Bachelor of Engineering student with strong analytical, problem-solving, and communication skills. Possess a solid foundation in DSA and a keen interest in applying theoretical knowledge to real-world challenges.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:haneeshbyreddy@gmail.com'><img src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                haneeshbyreddy@gmail.com<br><br>
                <a target="_blank" href='https://github.com/haneeshbyreddy'><img src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                haneeshbyreddy<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/haneeshbyreddy'><img src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                haneeshbyreddy<br>
            </div>
        </div>
    </div>
</div>


{% endblock body %}
